<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>New Rectangle</title>
        <link rel="stylesheet" href="./stylesheets/newrect.css">
        
    </head>
    <body>
        
        <div id="bg2">
            <h1 id="h1">NEW RECTANGLE</h1>

            <div id="main-body">
                
                <div class="main">
                    
                    <svg width="420" height="420">
                        <rect id ="rshape" x="10" y="10" width="400" height="350" style= "fill:#20B2AA;stroke:#B0E0E6;stroke-width:10;opacity:0.6" rx="20"/>
                    </svg>
                    
                    <div class ="c1">
                        <h2 id = "rtext" style="color: #4682B4">SAMPLE</h2>
                    </div>

                </div>
                <div id="chkbox">
                    <label id="label1" for="darkmode"> 
                        <input type="checkbox" id="darkmode"/>&nbsp;Lights off!
                    </label> 
                </div>
                
            </div>

            <main id="bg3">
                <p id="title">Adding New Rectangle . . . </p>
                <p id="descrip">Enter attributes below</p>
                <br>
                <form id="addform" action="/addnew" method="post" onsubmit="return validateForm()" method="post" required>
                    <table id="newtbl">
                        <tr>
                            <th>Name</th>
                            <th>Font Color</th>
                            <th>Width</th>
                            <th>Height</th>
                            <th>Fill Color</th>
                            <th>Border Color</th>
                            <th>Corner Radius</th>
                            <th>Opacity</th>
                        </tr>
                        <tr>
                            <td>
                                <input id="newrname" type="text" name="newrname" value="SAMPLE">
                            </td>
                            <td>
                                <input id="newfclr" type="color" name="newfclr" value="#4682B4">
                            </td>
                            <td>
                                <input id="newwd" type="number" min="11" step="1" max="400" name="newwd" value="400" oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                            </td>
                            <td>
                                <input id="newht" type="number" min="11" step="1" max="400" name="newht" value="350" oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                            </td>
                            <td>
                                <input id="newclr" type="color" name="newclr" value="#20B2AA">
                            </td>
                            <td>
                                <input id="newbclr" type="color" name="newbclr" value="#B0E0E6">
                            </td>
                            <td>
                                <input id="newcr" type="number" min="0" step="1" max="100" name="newcr" value="20" oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                            </td>
                            <td>
                                <input id="newop" type="number" min="0" step="0.1" max="1" name="newop" value="0.6" oninput="this.value =!!this.value && Math.abs(this.value) >= 0 ? Math.abs(this.value) : null">
                            </td>
                        </tr>

                    </table>
                    <br>
                    <input id="add" type="submit" value="ADD">
                </form>
                <form id="bkform" action="/back" method="post">
                    <input id="back" type="submit" value="BACK">
                </form>
                <br><br>
            </main>
        <br>
        </div>
        <script type="text/javascript" src="./newrect.js">
        </script>
    </body>
</html>